In [1]:
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('../Database Creation/inventory.db')

In [3]:
tables =  pd.read_sql_query("SELECT name FROM sqlite_master WHERE type = 'table'",conn)

In [4]:
tables

                      name
0          begin_inventory
1            end_inventory
2                purchases
3          purchase_prices
4                    sales
5           vendor_invoice
6       vendor_performance
7  vendor_sales_comparison

In [5]:
pd.read_sql("select count(*) from purchases", conn)

   count(*)
0   2372474

In [6]:
for table in tables['name']:
    print('-'*150)
    print(f'Table Name : {table}, ','Count of records: ',pd.read_sql(f"select count(*) as count from {table}",conn)['count'].values[0])
    display(pd.read_sql(f"select * from {table} limit 2",conn))

------------------------------------------------------------------------------------------------------------------------------------------------------
Table Name : begin_inventory,  Count of records:  206529

,False,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01

------------------------------------------------------------------------------------------------------------------------------------------------------
Table Name : end_inventory,  Count of records:  224489

,False,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31

------------------------------------------------------------------------------------------------------------------------------------------------------
Table Name : purchases,  Count of records:  2372474

,False,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1

------------------------------------------------------------------------------------------------------------------------------------------------------
Table Name : purchase_prices,  Count of records:  12261

,False,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP

------------------------------------------------------------------------------------------------------------------------------------------------------
Table Name : sales,  Count of records:  12825363

,False,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY

------------------------------------------------------------------------------------------------------------------------------------------------------
Table Name : vendor_invoice,  Count of records:  5543

,False,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None

------------------------------------------------------------------------------------------------------------------------------------------------------
Table Name : vendor_performance,  Count of records:  0

Empty DataFrame
Columns: [VendorNumber, VendorName, Brand, Volume, Description, PurchaseQuantity, PurchasePrice, TotalPurchasePrice, SalesQuantity, SalesPrice, TotalRevenue, Total_Freight, NetRevenue, Freight_Percent]
Index: []

------------------------------------------------------------------------------------------------------------------------------------------------------
Table Name : vendor_sales_comparison,  Count of records:  10693

,VendorNumber,VendorName,Brand,Volume,Description,PurchaseQuantity,PurchasePrice,TotalPurchasePrice,SalesQuantity,SalesPrice,TotalRevenue,Total_Freight,NetRevenue,Freight_Percent
0,2,"IRA GOLDMAN AND WILLIAMS, LLP",90085,750.0,Ch Lilian 09 Ladouys St Este,8,23.86,190.88,18.0,36.99,665.82,27.08,447.86,0.141869
1,2,"IRA GOLDMAN AND WILLIAMS, LLP",90609,162.5,Flavor Essence Variety 5 Pak,320,17.00,5440.00,24.0,24.99,599.76,27.08,-4867.32,0.004978

In [7]:
purchase_4466 = pd.read_sql("SELECT * FROM purchases WHERE VendorNumber = 4466",conn)
purchase_4466

,False,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
1,2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
2,3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
3,8091,38_GOULCREST_5215,38,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-07,2024-01-19,2024-02-26,9.41,6,56.46,1
4,8092,59_CLAETHORPES_5215,59,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-05,2024-01-19,2024-02-26,9.41,6,56.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,2314214,81_PEMBROKE_5215,81,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-29,2025-01-04,2025-02-10,9.41,6,56.46,1
2188,2314215,62_KILMARNOCK_5255,62,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.35,5,46.75,1
2189,2314216,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.41,5,47.05,1
2190,2314217,6_GOULCREST_5215,6,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-31,2025-01-04,2025-02-10,9.41,6,56.46,1
2191,2314218,35_HALIVAARA_5255,35,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-27,2025-01-04,2025-02-10,9.35,5,46.75,1

In [8]:
purchase_prices_4466 = pd.read_sql("SELECT * FROM purchase_prices WHERE VendorNumber = 4466",conn)
purchase_prices_4466

,False,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,1197,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,1212,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,9962,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [9]:
vendor_invoice_4466 = pd.read_sql("SELECT * FROM vendor_invoice WHERE VendorNumber = 4466",conn)
vendor_invoice_4466

,False,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
1,90,4466,AMERICAN VINTAGE BEVERAGE,2024-01-19,8207,2023-12-27,2024-02-26,335,3142.33,16.97,None
2,189,4466,AMERICAN VINTAGE BEVERAGE,2024-01-18,8307,2024-01-03,2024-02-18,41,383.35,1.99,None
3,284,4466,AMERICAN VINTAGE BEVERAGE,2024-01-27,8469,2024-01-14,2024-03-11,72,673.20,3.30,None
4,380,4466,AMERICAN VINTAGE BEVERAGE,2024-02-04,8532,2024-01-19,2024-03-15,79,740.21,3.48,None
5,486,4466,AMERICAN VINTAGE BEVERAGE,2024-02-09,8604,2024-01-24,2024-03-15,347,3261.37,17.61,None
6,586,4466,AMERICAN VINTAGE BEVERAGE,2024-02-17,8793,2024-02-05,2024-04-02,72,675.36,3.17,None
7,691,4466,AMERICAN VINTAGE BEVERAGE,2024-03-01,8892,2024-02-12,2024-03-28,117,1096.05,5.15,None
8,798,4466,AMERICAN VINTAGE BEVERAGE,2024-03-07,8995,2024-02-19,2024-04-02,129,1209.27,5.44,None
9,899,4466,AMERICAN VINTAGE BEVERAGE,2024-03-12,9033,2024-02-22,2024-04-16,147,1377.87,6.61,None
10,995,4466,AMERICAN VINTAGE BEVERAGE,2024-03-16,9180,2024-03-03,2024-04-19,211,1979.33,9.50,None
11,1096,4466,AMERICAN VINTAGE BEVERAGE,2024-03-23,9244,2024-03-08,2024-04-21,161,1510.69,6.95,None
12,1199,4466,AMERICAN VINTAGE BEVERAGE,2024-03-31,9371,2024-03-17,2024-05-13,176,1649.20,8.91,None
13,1298,4466,AMERICAN VINTAGE BEVERAGE,2024-04-09,9491,2024-03-24,2024-05-08,215,2016.43,10.08,None
14,1401,4466,AMERICAN VINTAGE BEVERAGE,2024-04-17,9583,2024-03-31,2024-05-12,110,1035.10,5.69,None
15,1500,4466,AMERICAN VINTAGE BEVERAGE,2024-04-20,9639,2024-04-04,2024-06-04,515,5323.01,25.02,None
16,1602,4466,AMERICAN VINTAGE BEVERAGE,2024-04-29,9800,2024-04-15,2024-06-07,275,2775.01,13.60,None
17,1702,4466,AMERICAN VINTAGE BEVERAGE,2024-05-09,9886,2024-04-21,2024-06-12,312,3050.86,13.73,None
18,1801,4466,AMERICAN VINTAGE BEVERAGE,2024-05-14,9999,2024-04-29,2024-06-26,310,3117.82,14.97,None
19,1905,4466,AMERICAN VINTAGE BEVERAGE,2024-05-16,10095,2024-05-06,2024-06-27,215,2123.01,11.46,None
20,1999,4466,AMERICAN VINTAGE BEVERAGE,2024-05-28,10169,2024-05-11,2024-07-04,327,3298.55,15.83,None
21,2107,4466,AMERICAN VINTAGE BEVERAGE,2024-06-04,10257,2024-05-17,2024-07-08,376,3708.18,20.39,None
22,2209,4466,AMERICAN VINTAGE BEVERAGE,2024-06-12,10346,2024-05-23,2024-07-20,640,6458.38,29.71,None
23,2311,4466,AMERICAN VINTAGE BEVERAGE,2024-06-17,10445,2024-05-30,2024-07-19,288,2937.56,15.86,None
24,2418,4466,AMERICAN VINTAGE BEVERAGE,2024-06-22,10600,2024-06-09,2024-08-01,308,3213.28,17.03,None
25,2516,4466,AMERICAN VINTAGE BEVERAGE,2024-06-29,10695,2024-06-16,2024-08-12,143,1585.75,8.09,None
26,2617,4466,AMERICAN VINTAGE BEVERAGE,2024-07-09,10777,2024-06-22,2024-08-15,18,179.88,0.99,None
27,2717,4466,AMERICAN VINTAGE BEVERAGE,2024-07-08,10836,2024-06-25,2024-08-14,8,85.96,0.43,None
28,2805,4466,AMERICAN VINTAGE BEVERAGE,2024-07-11,10969,2024-06-29,2024-08-18,94,993.12,5.06,None
29,2906,4466,AMERICAN VINTAGE BEVERAGE,2024-07-19,11085,2024-07-06,2024-09-04,601,5883.09,31.18,None
30,3006,4466,AMERICAN VINTAGE BEVERAGE,2024-07-26,11187,2024-07-14,2024-08-26,1535,15406.69,77.03,None
31,3109,4466,AMERICAN VINTAGE BEVERAGE,2024-08-03,11244,2024-07-18,2024-09-04,266,2888.22,15.31,None
32,3210,4466,AMERICAN VINTAGE BEVERAGE,2024-08-11,11362,2024-07-26,2024-09-24,206,2171.64,11.08,None
33,3308,4466,AMERICAN VINTAGE BEVERAGE,2024-08-18,11489,2024-08-04,2024-09-16,768,7292.98,37.92,None
34,3408,4466,AMERICAN VINTAGE BEVERAGE,2024-08-24,11540,2024-08-08,2024-10-02,1207,12242.43,64.88,None
35,3518,4466,AMERICAN VINTAGE BEVERAGE,2024-09-02,11716,2024-08-19,2024-09-29,433,4334.43,20.37,None
36,3613,4466,AMERICAN VINTAGE BEVERAGE,2024-09-12,11771,2024-08-23,2024-10-11,370,3640.18,18.20,None
37,3720,4466,AMERICAN VINTAGE BEVERAGE,2024-09-20,11901,2024-09-01,2024-10-30,358,3626.74,16.32,None
38,3821,4466,AMERICAN VINTAGE BEVERAGE,2024-09-25,11993,2024-09-07,2024-10-23,233,2264.85,12.23,None
39,3922,4466,AMERICAN VINTAGE BEVERAGE,2024-10-01,12125,2024-09-16,2024-11-07,284,2813.46,15.47,None
40,4027,4466,AMERICAN VINTAGE BEVERAGE,2024-10-08,12235,2024-09-23,2024-11-20,258,2592.08,11.92,None
41,4134,4466,AMERICAN VINTAGE BEVERAGE,2024-10-09,12253,2024-09-23,2024-11-14,1,11.19,0.05,None
42,4194,4466,AMERICAN VINTAGE BEVERAGE,2024-10-12,12321,2024-09-26,2024-11-19,172,1685.98,7.59,None
43,4295,4466,AMERICAN VINTAGE BEVERAGE,2024-10-20,12466,2024-10-05,2024-11-26,280,2798.60,14.55,None
44,4398,4466,AMERICAN VINTAGE BEVERAGE,2024-10-27,12515,2024-10-09,2024-11-30,178,1763.28,8.64,None
45,4501,4466,AMERICAN VINTAGE BEVERAGE,2024-11-07,12702,2024-10-21,2024-12-11,183,1812.77,8.70,None
46,4607,4466,AMERICAN VINTAGE BEVERAGE,2024-11-12,12752,2024-10-25,2024-12-11,216,2156.16,10.57,None
47,4711,4466,AMERICAN VINTAGE BEVERAGE,2024-11-20,12828,2024-10-30,2024-12-18,262,2597.36,12.99,None
48,4811,4466,AMERICAN VINTAGE BEVERAGE,2024-11-27,12929,2024-11-06,2025-01-04,270,2622.32,12.85,None
49,4913,4466,AMERICAN VINTAGE BEVERAGE,2024-11-28,13092,2024-11-16,2024-12-30,209,2036.17,11.20,None
50,5017,4466,AMERICAN VINTAGE BEVERAGE,2024-12-06,13134,2024-11-20,2025-01-18,305,3018.89,15.70,None
51,5120,4466,AMERICAN VINTAGE BEVERAGE,2024-12-16,13254,2024-11-28,2025-01-13,262,2530.36,11.39,None
52,5219,4466,AMERICAN VINTAGE BEVERAGE,2024-12-26,13432,2024-12-09,2025-01-27,231,2263.43,11.32,None
53,5329,4466,AMERICAN VINTAGE BEVERAGE,2024-12-30,13483,2024-12-13,2025-02-11,221,2178.27,11.33,None
54,5436,4466,AMERICAN VINTAGE BEVERAGE,2025-01-09,13627,2024-12-22,2025-02-05,413,3985.03,19.53,None

In [10]:
purchase_4466.groupby(['Brand','PurchasePrice'])[['Quantity','Dollars']].sum()

                     Quantity   Dollars
Brand PurchasePrice
3140  11.19              4640  51921.60
5215  9.41               4923  46325.43
5255  9.35               6215  58110.25

In [11]:
vendor_invoice_4466['PONumber'].nunique()

55

In [12]:
vendor_invoice_4466.shape

(55, 11)

In [13]:
vendor_invoice_4466.columns

Index(['False', 'VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber',
       'PODate', 'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [14]:
purchase_4466.columns

Index(['False', 'InventoryId', 'Store', 'Brand', 'Description', 'Size',
       'VendorNumber', 'VendorName', 'PONumber', 'PODate', 'ReceivingDate',
       'InvoiceDate', 'PayDate', 'PurchasePrice', 'Quantity', 'Dollars',
       'Classification'],
      dtype='object')

In [15]:
purchase_prices_4466.columns

Index(['False', 'Brand', 'Description', 'Price', 'Size', 'Volume',
       'Classification', 'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [16]:
purchase_prices_4466['Description'].nunique()

3

In [17]:
purchase_prices_4466.shape

(3, 10)

In [18]:
sales = pd.read_sql("SELECT * FROM sales",conn)

In [19]:
sales

,False,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12825358,12825358,9_BLACKPOOL_984,9,984,Patron XO Cafe Liqueur,750mL,1,25.99,25.99,2024-12-17,750.0,1,0.79,9165,ULTRA BEVERAGE COMPANY LLP
12825359,12825359,9_BLACKPOOL_984,9,984,Patron XO Cafe Liqueur,750mL,1,25.99,25.99,2024-12-21,750.0,1,0.79,9165,ULTRA BEVERAGE COMPANY LLP
12825360,12825360,9_BLACKPOOL_984,9,984,Patron XO Cafe Liqueur,750mL,3,77.97,25.99,2024-12-23,750.0,1,2.36,9165,ULTRA BEVERAGE COMPANY LLP
12825361,12825361,9_BLACKPOOL_984,9,984,Patron XO Cafe Liqueur,750mL,1,25.99,25.99,2024-12-24,750.0,1,0.79,9165,ULTRA BEVERAGE COMPANY LLP
12825362,12825362,9_BLACKPOOL_984,9,984,Patron XO Cafe Liqueur,750mL,2,51.98,25.99,2024-12-29,750.0,1,1.57,9165,ULTRA BEVERAGE COMPANY LLP

sales.columns

In [20]:
vendor_invoice_4466['VendorName'].nunique()

1

In [21]:
vendor_invoice = pd.read_sql("SELECT * FROM vendor_invoice",conn)

In [22]:
len(vendor_invoice["VendorName"].unique())

129

In [23]:
len(sales["VendorName"].unique())

130

In [24]:
vendor_invoice_4466.columns

Index(['False', 'VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber',
       'PODate', 'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

CREATING TABLE FREIGHT SUMMARY

In [25]:
freight_summary = pd.read_sql(""" SELECT VendorNumber, SUM(Freight) AS Total_Freight
FROM vendor_invoice 
GROUP BY VendorNumber""",conn)

In [26]:
freight_summary

     VendorNumber  Total_Freight
0               2          27.08
1              54           0.48
2              60         367.52
3             105          62.39
4             200           6.19
..            ...            ...
121         98450         856.02
122         99166         130.09
123        172662         178.34
124        173357         202.50
125        201359           0.09

[126 rows x 2 columns]

In [27]:
purchase_4466.columns

Index(['False', 'InventoryId', 'Store', 'Brand', 'Description', 'Size',
       'VendorNumber', 'VendorName', 'PONumber', 'PODate', 'ReceivingDate',
       'InvoiceDate', 'PayDate', 'PurchasePrice', 'Quantity', 'Dollars',
       'Classification'],
      dtype='object')

In [28]:
purchase_prices_4466.columns

Index(['False', 'Brand', 'Description', 'Price', 'Size', 'Volume',
       'Classification', 'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

CREATE VENDOR PURCHASE SUMMARY TABLE

In [29]:
vendor_purchase_summary = pd.read_sql("""
SELECT
    p.VendorNumber,
    p.VendorName,
    p.Brand,
    pp.Volume,
    p.Description,
    SUM(p.Quantity) AS Quantity,
    AVG(p.PurchasePrice) AS PurchasePrice,
    SUM(p.Dollars) AS TotalPurchasePrice
FROM purchases p
JOIN purchase_prices pp
    ON p.Brand = pp.Brand
GROUP BY
    p.VendorNumber,
    p.VendorName,
    p.Brand,
    pp.Volume,
    p.Description
""", conn)

In [30]:
vendor_purchase_summary

,VendorNumber,VendorName,Brand,Volume,Description,Quantity,PurchasePrice,TotalPurchasePrice
0,2,"IRA GOLDMAN AND WILLIAMS, LLP",90085,750,Ch Lilian 09 Ladouys St Este,8,23.86,190.88
1,2,"IRA GOLDMAN AND WILLIAMS, LLP",90609,162.5,Flavor Essence Variety 5 Pak,320,17.00,5440.00
2,54,AAPER ALCOHOL & CHEMICAL CO,990,3750,Ethyl Alcohol 200 Proof,1,105.07,105.07
3,60,ADAMBA IMPORTS INTL INC,771,750,Bak's Krupnik Honey Liqueur,39,11.44,446.16
4,60,ADAMBA IMPORTS INTL INC,3401,1750,Vesica Vodka,6,11.10,66.60
...,...,...,...,...,...,...,...,...
10688,173357,TAMWORTH DISTILLING,2804,750,Camp Robber Whiskey,210,32.14,6749.40
10689,173357,TAMWORTH DISTILLING,3666,375,Art in the Age Chicory Root,520,18.79,9770.80
10690,173357,TAMWORTH DISTILLING,3848,750,Chicory Root Vodka,28,23.30,652.40
10691,173357,TAMWORTH DISTILLING,3909,750,White Mountain Vodka,1232,19.37,23863.84
10692,201359,FLAVOR ESSENCE INC,90609,162.5,Flavor Essence Variety 5 Pak,1,17.00,17.00

In [31]:
sales.columns

Index(['False', 'InventoryId', 'Store', 'Brand', 'Description', 'Size',
       'SalesQuantity', 'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume',
       'Classification', 'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

CREATE SALES SUMMARY TABLE

In [32]:
sales_summary = pd.read_sql(""" SELECT VendorNo,
Brand,
Description,
Volume,
SUM(SalesQuantity) AS TotalQuantity,
AVG(SalesPrice) AS SalesPrice,
SUM(SalesDollars) AS TotalRevenue
FROM sales
GROUP BY VendorNo, Brand, Description, Volume""",conn)

In [33]:
sales_summary

,VendorNo,Brand,Description,Volume,TotalQuantity,SalesPrice,TotalRevenue
0,2,90085,Ch Lilian 09 Ladouys St Este,750.0,18,36.990000,665.82
1,2,90609,Flavor Essence Variety 5 Pak,162.5,24,24.990000,599.76
2,60,771,Bak's Krupnik Honey Liqueur,750.0,47,14.990000,704.53
3,60,3979,Vesica Potato Vodka,1750.0,3931,17.020216,66871.69
4,105,2529,Right Gin,750.0,12,29.990000,359.88
...,...,...,...,...,...,...,...
11267,173357,2804,Camp Robber Whiskey,750.0,140,44.990000,6298.60
11268,173357,3666,Art in the Age Chicory Root,375.0,360,24.990000,8996.40
11269,173357,3848,Chicory Root Vodka,750.0,6,30.990000,185.94
11270,173357,3909,White Mountain Vodka,750.0,982,24.990000,24540.18
11271,201359,90609,Flavor Essence Variety 5 Pak,162.5,59,24.990000,1474.41

In [34]:
vendor_purchase_summary['Volume'] = pd.to_numeric(
    vendor_purchase_summary['Volume'], errors='coerce'
)

sales_summary['Volume'] = pd.to_numeric(
    sales_summary['Volume'], errors='coerce'
)

In [35]:
vendor_sales_comparison = pd.merge(
    vendor_purchase_summary,
    sales_summary,
    left_on=['VendorNumber','Brand','Description','Volume'],
    right_on=['VendorNo','Brand','Description','Volume'],
    how='left'
)

In [36]:
vendor_sales_comparison

,VendorNumber,VendorName,Brand,Volume,Description,Quantity,PurchasePrice,TotalPurchasePrice,VendorNo,TotalQuantity,SalesPrice,TotalRevenue
0,2,"IRA GOLDMAN AND WILLIAMS, LLP",90085,750.0,Ch Lilian 09 Ladouys St Este,8,23.86,190.88,2.0,18.0,36.99,665.82
1,2,"IRA GOLDMAN AND WILLIAMS, LLP",90609,162.5,Flavor Essence Variety 5 Pak,320,17.00,5440.00,2.0,24.0,24.99,599.76
2,54,AAPER ALCOHOL & CHEMICAL CO,990,3750.0,Ethyl Alcohol 200 Proof,1,105.07,105.07,NaN,NaN,NaN,NaN
3,60,ADAMBA IMPORTS INTL INC,771,750.0,Bak's Krupnik Honey Liqueur,39,11.44,446.16,60.0,47.0,14.99,704.53
4,60,ADAMBA IMPORTS INTL INC,3401,1750.0,Vesica Vodka,6,11.10,66.60,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
10688,173357,TAMWORTH DISTILLING,2804,750.0,Camp Robber Whiskey,210,32.14,6749.40,173357.0,140.0,44.99,6298.60
10689,173357,TAMWORTH DISTILLING,3666,375.0,Art in the Age Chicory Root,520,18.79,9770.80,173357.0,360.0,24.99,8996.40
10690,173357,TAMWORTH DISTILLING,3848,750.0,Chicory Root Vodka,28,23.30,652.40,173357.0,6.0,30.99,185.94
10691,173357,TAMWORTH DISTILLING,3909,750.0,White Mountain Vodka,1232,19.37,23863.84,173357.0,982.0,24.99,24540.18
10692,201359,FLAVOR ESSENCE INC,90609,162.5,Flavor Essence Variety 5 Pak,1,17.00,17.00,201359.0,59.0,24.99,1474.41

In [37]:
vendor_sales_comparison = vendor_sales_comparison.rename(
    columns={
        'Quantity': 'PurchaseQuantity',
        'TotalQuantity': 'SalesQuantity'
    }
)
vendor_sales_comparison

,VendorNumber,VendorName,Brand,Volume,Description,PurchaseQuantity,PurchasePrice,TotalPurchasePrice,VendorNo,SalesQuantity,SalesPrice,TotalRevenue
0,2,"IRA GOLDMAN AND WILLIAMS, LLP",90085,750.0,Ch Lilian 09 Ladouys St Este,8,23.86,190.88,2.0,18.0,36.99,665.82
1,2,"IRA GOLDMAN AND WILLIAMS, LLP",90609,162.5,Flavor Essence Variety 5 Pak,320,17.00,5440.00,2.0,24.0,24.99,599.76
2,54,AAPER ALCOHOL & CHEMICAL CO,990,3750.0,Ethyl Alcohol 200 Proof,1,105.07,105.07,NaN,NaN,NaN,NaN
3,60,ADAMBA IMPORTS INTL INC,771,750.0,Bak's Krupnik Honey Liqueur,39,11.44,446.16,60.0,47.0,14.99,704.53
4,60,ADAMBA IMPORTS INTL INC,3401,1750.0,Vesica Vodka,6,11.10,66.60,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
10688,173357,TAMWORTH DISTILLING,2804,750.0,Camp Robber Whiskey,210,32.14,6749.40,173357.0,140.0,44.99,6298.60
10689,173357,TAMWORTH DISTILLING,3666,375.0,Art in the Age Chicory Root,520,18.79,9770.80,173357.0,360.0,24.99,8996.40
10690,173357,TAMWORTH DISTILLING,3848,750.0,Chicory Root Vodka,28,23.30,652.40,173357.0,6.0,30.99,185.94
10691,173357,TAMWORTH DISTILLING,3909,750.0,White Mountain Vodka,1232,19.37,23863.84,173357.0,982.0,24.99,24540.18
10692,201359,FLAVOR ESSENCE INC,90609,162.5,Flavor Essence Variety 5 Pak,1,17.00,17.00,201359.0,59.0,24.99,1474.41

In [38]:
vendor_sales_comparison.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Volume', 'Description',
       'PurchaseQuantity', 'PurchasePrice', 'TotalPurchasePrice', 'VendorNo',
       'SalesQuantity', 'SalesPrice', 'TotalRevenue'],
      dtype='object')

In [39]:
vendor_sales_comparison = vendor_sales_comparison.drop(columns=['VendorNo'])

In [40]:
vendor_sales_comparison

,VendorNumber,VendorName,Brand,Volume,Description,PurchaseQuantity,PurchasePrice,TotalPurchasePrice,SalesQuantity,SalesPrice,TotalRevenue
0,2,"IRA GOLDMAN AND WILLIAMS, LLP",90085,750.0,Ch Lilian 09 Ladouys St Este,8,23.86,190.88,18.0,36.99,665.82
1,2,"IRA GOLDMAN AND WILLIAMS, LLP",90609,162.5,Flavor Essence Variety 5 Pak,320,17.00,5440.00,24.0,24.99,599.76
2,54,AAPER ALCOHOL & CHEMICAL CO,990,3750.0,Ethyl Alcohol 200 Proof,1,105.07,105.07,NaN,NaN,NaN
3,60,ADAMBA IMPORTS INTL INC,771,750.0,Bak's Krupnik Honey Liqueur,39,11.44,446.16,47.0,14.99,704.53
4,60,ADAMBA IMPORTS INTL INC,3401,1750.0,Vesica Vodka,6,11.10,66.60,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
10688,173357,TAMWORTH DISTILLING,2804,750.0,Camp Robber Whiskey,210,32.14,6749.40,140.0,44.99,6298.60
10689,173357,TAMWORTH DISTILLING,3666,375.0,Art in the Age Chicory Root,520,18.79,9770.80,360.0,24.99,8996.40
10690,173357,TAMWORTH DISTILLING,3848,750.0,Chicory Root Vodka,28,23.30,652.40,6.0,30.99,185.94
10691,173357,TAMWORTH DISTILLING,3909,750.0,White Mountain Vodka,1232,19.37,23863.84,982.0,24.99,24540.18
10692,201359,FLAVOR ESSENCE INC,90609,162.5,Flavor Essence Variety 5 Pak,1,17.00,17.00,59.0,24.99,1474.41

In [41]:
vendor_sales_comparison = vendor_sales_comparison[
    [
        'VendorNumber',
        'VendorName',
        'Brand',
        'Volume',
        'Description',
        'PurchaseQuantity',
        'PurchasePrice',
        'TotalPurchasePrice',
        'SalesQuantity',
        'SalesPrice',
        'TotalRevenue'
    ]
]

In [42]:
vendor_sales_comparison

,VendorNumber,VendorName,Brand,Volume,Description,PurchaseQuantity,PurchasePrice,TotalPurchasePrice,SalesQuantity,SalesPrice,TotalRevenue
0,2,"IRA GOLDMAN AND WILLIAMS, LLP",90085,750.0,Ch Lilian 09 Ladouys St Este,8,23.86,190.88,18.0,36.99,665.82
1,2,"IRA GOLDMAN AND WILLIAMS, LLP",90609,162.5,Flavor Essence Variety 5 Pak,320,17.00,5440.00,24.0,24.99,599.76
2,54,AAPER ALCOHOL & CHEMICAL CO,990,3750.0,Ethyl Alcohol 200 Proof,1,105.07,105.07,NaN,NaN,NaN
3,60,ADAMBA IMPORTS INTL INC,771,750.0,Bak's Krupnik Honey Liqueur,39,11.44,446.16,47.0,14.99,704.53
4,60,ADAMBA IMPORTS INTL INC,3401,1750.0,Vesica Vodka,6,11.10,66.60,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
10688,173357,TAMWORTH DISTILLING,2804,750.0,Camp Robber Whiskey,210,32.14,6749.40,140.0,44.99,6298.60
10689,173357,TAMWORTH DISTILLING,3666,375.0,Art in the Age Chicory Root,520,18.79,9770.80,360.0,24.99,8996.40
10690,173357,TAMWORTH DISTILLING,3848,750.0,Chicory Root Vodka,28,23.30,652.40,6.0,30.99,185.94
10691,173357,TAMWORTH DISTILLING,3909,750.0,White Mountain Vodka,1232,19.37,23863.84,982.0,24.99,24540.18
10692,201359,FLAVOR ESSENCE INC,90609,162.5,Flavor Essence Variety 5 Pak,1,17.00,17.00,59.0,24.99,1474.41

In [43]:
freight_summary

     VendorNumber  Total_Freight
0               2          27.08
1              54           0.48
2              60         367.52
3             105          62.39
4             200           6.19
..            ...            ...
121         98450         856.02
122         99166         130.09
123        172662         178.34
124        173357         202.50
125        201359           0.09

[126 rows x 2 columns]

In [44]:
vendor_sales_comparison = vendor_sales_comparison.merge(
    freight_summary,
    on='VendorNumber',
    how='left'
)

In [45]:
vendor_sales_comparison['Total_Freight'] = (
    vendor_sales_comparison['Total_Freight'].fillna(0)
)

In [46]:
vendor_sales_comparison['NetRevenue'] = (
    vendor_sales_comparison['TotalRevenue']
    - vendor_sales_comparison['TotalPurchasePrice']
    - vendor_sales_comparison['Total_Freight']
)
vendor_sales_comparison['Freight_Percent'] = (
    vendor_sales_comparison['Total_Freight']
    / vendor_sales_comparison['TotalPurchasePrice']
)

In [47]:
vendor_sales_comparison

,VendorNumber,VendorName,Brand,Volume,Description,PurchaseQuantity,PurchasePrice,TotalPurchasePrice,SalesQuantity,SalesPrice,TotalRevenue,Total_Freight,NetRevenue,Freight_Percent
0,2,"IRA GOLDMAN AND WILLIAMS, LLP",90085,750.0,Ch Lilian 09 Ladouys St Este,8,23.86,190.88,18.0,36.99,665.82,27.08,447.86,0.141869
1,2,"IRA GOLDMAN AND WILLIAMS, LLP",90609,162.5,Flavor Essence Variety 5 Pak,320,17.00,5440.00,24.0,24.99,599.76,27.08,-4867.32,0.004978
2,54,AAPER ALCOHOL & CHEMICAL CO,990,3750.0,Ethyl Alcohol 200 Proof,1,105.07,105.07,NaN,NaN,NaN,0.48,NaN,0.004568
3,60,ADAMBA IMPORTS INTL INC,771,750.0,Bak's Krupnik Honey Liqueur,39,11.44,446.16,47.0,14.99,704.53,367.52,-109.15,0.823740
4,60,ADAMBA IMPORTS INTL INC,3401,1750.0,Vesica Vodka,6,11.10,66.60,NaN,NaN,NaN,367.52,NaN,5.518318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10688,173357,TAMWORTH DISTILLING,2804,750.0,Camp Robber Whiskey,210,32.14,6749.40,140.0,44.99,6298.60,202.50,-653.30,0.030003
10689,173357,TAMWORTH DISTILLING,3666,375.0,Art in the Age Chicory Root,520,18.79,9770.80,360.0,24.99,8996.40,202.50,-976.90,0.020725
10690,173357,TAMWORTH DISTILLING,3848,750.0,Chicory Root Vodka,28,23.30,652.40,6.0,30.99,185.94,202.50,-668.96,0.310392
10691,173357,TAMWORTH DISTILLING,3909,750.0,White Mountain Vodka,1232,19.37,23863.84,982.0,24.99,24540.18,202.50,473.84,0.008486
10692,201359,FLAVOR ESSENCE INC,90609,162.5,Flavor Essence Variety 5 Pak,1,17.00,17.00,59.0,24.99,1474.41,0.09,1457.32,0.005294

In [48]:
cols = ['SalesQuantity','SalesPrice','TotalRevenue']

vendor_sales_comparison[cols] = (
    vendor_sales_comparison[cols].fillna(0)
)

In [49]:
vendor_sales_comparison

,VendorNumber,VendorName,Brand,Volume,Description,PurchaseQuantity,PurchasePrice,TotalPurchasePrice,SalesQuantity,SalesPrice,TotalRevenue,Total_Freight,NetRevenue,Freight_Percent
0,2,"IRA GOLDMAN AND WILLIAMS, LLP",90085,750.0,Ch Lilian 09 Ladouys St Este,8,23.86,190.88,18.0,36.99,665.82,27.08,447.86,0.141869
1,2,"IRA GOLDMAN AND WILLIAMS, LLP",90609,162.5,Flavor Essence Variety 5 Pak,320,17.00,5440.00,24.0,24.99,599.76,27.08,-4867.32,0.004978
2,54,AAPER ALCOHOL & CHEMICAL CO,990,3750.0,Ethyl Alcohol 200 Proof,1,105.07,105.07,0.0,0.00,0.00,0.48,NaN,0.004568
3,60,ADAMBA IMPORTS INTL INC,771,750.0,Bak's Krupnik Honey Liqueur,39,11.44,446.16,47.0,14.99,704.53,367.52,-109.15,0.823740
4,60,ADAMBA IMPORTS INTL INC,3401,1750.0,Vesica Vodka,6,11.10,66.60,0.0,0.00,0.00,367.52,NaN,5.518318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10688,173357,TAMWORTH DISTILLING,2804,750.0,Camp Robber Whiskey,210,32.14,6749.40,140.0,44.99,6298.60,202.50,-653.30,0.030003
10689,173357,TAMWORTH DISTILLING,3666,375.0,Art in the Age Chicory Root,520,18.79,9770.80,360.0,24.99,8996.40,202.50,-976.90,0.020725
10690,173357,TAMWORTH DISTILLING,3848,750.0,Chicory Root Vodka,28,23.30,652.40,6.0,30.99,185.94,202.50,-668.96,0.310392
10691,173357,TAMWORTH DISTILLING,3909,750.0,White Mountain Vodka,1232,19.37,23863.84,982.0,24.99,24540.18,202.50,473.84,0.008486
10692,201359,FLAVOR ESSENCE INC,90609,162.5,Flavor Essence Variety 5 Pak,1,17.00,17.00,59.0,24.99,1474.41,0.09,1457.32,0.005294

In [50]:
vendor_sales_comparison.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Volume', 'Description',
       'PurchaseQuantity', 'PurchasePrice', 'TotalPurchasePrice',
       'SalesQuantity', 'SalesPrice', 'TotalRevenue', 'Total_Freight',
       'NetRevenue', 'Freight_Percent'],
      dtype='object')

In [51]:
cursor = conn.cursor()

In [55]:
cursor.execute("""CREATE TABLE IF NOT EXISTS vendor_performance (
    VendorNumber INT,
    VendorName VARCHAR(255),
    Brand INT,
    Volume FLOAT,
    Description VARCHAR(255),

    PurchaseQuantity FLOAT,
    PurchasePrice DECIMAL(12,2),
    TotalPurchasePrice DECIMAL(14,2),

    SalesQuantity FLOAT,
    SalesPrice DECIMAL(12,2),
    TotalRevenue DECIMAL(14,2),

    Total_Freight DECIMAL(14,2),
    NetRevenue DECIMAL(14,2),
    Freight_Percent DECIMAL(10,4)
)"""
              )

In [56]:
vendor_sales_comparison.to_sql('vendor_sales_comparison',conn,if_exists='replace',index=False)

10693

In [57]:
pd.read_sql_query(" SELECT * FROM vendor_sales_comparison",conn)

,VendorNumber,VendorName,Brand,Volume,Description,PurchaseQuantity,PurchasePrice,TotalPurchasePrice,SalesQuantity,SalesPrice,TotalRevenue,Total_Freight,NetRevenue,Freight_Percent
0,2,"IRA GOLDMAN AND WILLIAMS, LLP",90085,750.0,Ch Lilian 09 Ladouys St Este,8,23.86,190.88,18.0,36.99,665.82,27.08,447.86,0.141869
1,2,"IRA GOLDMAN AND WILLIAMS, LLP",90609,162.5,Flavor Essence Variety 5 Pak,320,17.00,5440.00,24.0,24.99,599.76,27.08,-4867.32,0.004978
2,54,AAPER ALCOHOL & CHEMICAL CO,990,3750.0,Ethyl Alcohol 200 Proof,1,105.07,105.07,0.0,0.00,0.00,0.48,NaN,0.004568
3,60,ADAMBA IMPORTS INTL INC,771,750.0,Bak's Krupnik Honey Liqueur,39,11.44,446.16,47.0,14.99,704.53,367.52,-109.15,0.823740
4,60,ADAMBA IMPORTS INTL INC,3401,1750.0,Vesica Vodka,6,11.10,66.60,0.0,0.00,0.00,367.52,NaN,5.518318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10688,173357,TAMWORTH DISTILLING,2804,750.0,Camp Robber Whiskey,210,32.14,6749.40,140.0,44.99,6298.60,202.50,-653.30,0.030003
10689,173357,TAMWORTH DISTILLING,3666,375.0,Art in the Age Chicory Root,520,18.79,9770.80,360.0,24.99,8996.40,202.50,-976.90,0.020725
10690,173357,TAMWORTH DISTILLING,3848,750.0,Chicory Root Vodka,28,23.30,652.40,6.0,30.99,185.94,202.50,-668.96,0.310392
10691,173357,TAMWORTH DISTILLING,3909,750.0,White Mountain Vodka,1232,19.37,23863.84,982.0,24.99,24540.18,202.50,473.84,0.008486
10692,201359,FLAVOR ESSENCE INC,90609,162.5,Flavor Essence Variety 5 Pak,1,17.00,17.00,59.0,24.99,1474.41,0.09,1457.32,0.005294